* {
  box-sizing: border-box;

  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

    main {
      width: 400px;
      margin: auto;
      text-align: center;

      nav {
        display: flex;
        justify-content: center;

        .radio-button {
          height: 0;
          width: 0;
        }

        label {
          font-size: small;
          display: inline-block;
          background-color: buttonface;
          padding: 8px 13px;
          border-radius: 4px;
        }

        .radio-button:checked + label {
          background-color: lightgray;
        }
      }

      button {
        font-size: 22px;
        background-color: buttonface;
        border-radius: 4px;
        border: none;
        height: 50px;
        width: 150px;
      }

      .pomodoro-container {
        display: none;
      }

      .pomodoro-container.visible {
        display: block;

        .pomodoro-start-button {
          display: none;
        }

        .pomodoro-start-button.visible {
          display: inline-block;
        }

        .pomodoro-stop-button {
          display: none;
        }

        .pomodoro-stop-button.visible {
          display: inline-block;
        }

        .pomodoro-reset-button {
          display: none;
        }

        .pomodoro-reset-button.visible {
          display: inline-block;
        }
      }

      .short-break-container {
        display: none;
      }

      .short-break-container.visible {
        display: block;

        .short-break-start-button {
          display: none;
        }

        .short-break-start-button.visible {
          display: inline-block;
        }

        .short-break-stop-button {
          display: none;
        }

        .short-break-stop-button.visible {
          display: inline-block;
        }

        .short-break-reset-button {
          display: none;
        }

        .short-break-reset-button.visible {
          display: inline-block;
        }
      }

      .long-break-container {
        display: none;
      }

      .long-break-container.visible {
        display: block;

        .long-break-start-button {
          display: none;
        }

        .long-break-start-button.visible {
          display: inline-block;
        }

        .long-break-stop-button {
          display: none;
        }

        .long-break-stop-button.visible {
          display: inline-block;
        }

        .long-break-reset-button {
          display: none;
        }

        .long-break-reset-button.visible {
          display: inline-block;
        }
      }
    }
  }
}
